* {
  box-sizing: border-box;
}
.octodex {
  display: block;
  padding: 0px;
  margin-top: 20px;



}
.octocat {
  vertical-align: top;
  display: inline-block;
  width: 33%;
  border-bottom: 1px solid grey;

}
.octocat img{
  display: inline-block;
  height: 400px;
  border: 1px solid grey;
  border-radius: 3px solid rgb(255, 225, 225);;

}
.image-number:before{
  content: "#";

}
.image-number {
  text-align: left;
  display: inline-block;
  font-weight: lighter;
  color: grey;
  font-family: sans-serif;
}
.image-footer {
  /*display: inline-block;*/
  width: 400px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.image-caption span {
  color: grey;
  font-family: sans-serif;
  font-weight: bold;

}
.image-caption {
  display: inline;
  float: right;
}
.image-caption a {
  height: 12px;
  font-weight: bolder;
  color: inherit;
  font-family: sans-serif;
  text-decoration: none;
}

.authors img{
  float: right;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  margin-bottom: 12px;

}
.authors::before {
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(202,202,202);
  content: "";
  margin-top: -16px;
  position: absolute;
  right: 0px;
}
.authors {
  display: inline-block;
  float: right;
  list-style: none;
  position:relative;

}
